SQL: Schrijf een query die onderstaand overzicht van employees met hun managers voer deze query ook uit in Python.
firstname_employee , lastname_employee, firstname_manager, lastname_manager,

In [2]:
import sqlite3
import pandas as pd

chinook = "C:\\Users\\CarloDieltjens\\OneDrive - Bmatix\\Documenten\\Opleiding\\Data scientist\\Files\\chinook.db" # open db with DB Browser
query = "select a.FirstName as FirstName_Employee, a.LastName as LastName_Employee, /*a.EmployeeId, a.ReportsTo, */b.FirstName as FirstName_Manager, b.LastName as LastName_Manager from employees a, employees b where a.ReportsTo = b.EmployeeId"

conn = sqlite3.connect(chinook)

df = pd.read_sql_query(query, conn)

display(df)
conn.close()

  FirstName_Employee LastName_Employee FirstName_Manager LastName_Manager
0              Nancy           Edwards            Andrew            Adams
1               Jane           Peacock             Nancy          Edwards
2           Margaret              Park             Nancy          Edwards
3              Steve           Johnson             Nancy          Edwards
4            Michael          Mitchell            Andrew            Adams
5             Robert              King           Michael         Mitchell
6              Laura          Callahan           Michael         Mitchell

'C:\\Users\\CarloDieltjens\\OneDrive - Bmatix\\Documenten\\Opleiding\\Data scientist\\Python Scripts'

OEFENING IMAGES BLZ. 266

In [3]:
import PIL
from PIL import Image

# cool = PIL.Image.open("C:\\Users\\CarloDieltjens\\OneDrive - Bmatix\\Documenten\\Opleiding\\Data scientist\\Python Scripts\\cool.png")
# moose = PIL.Image.open("C:\\Users\\CarloDieltjens\\OneDrive - Bmatix\\Documenten\\Opleiding\\Data scientist\\Python Scripts\\moose.png")

# new_cool = cool.resize((500, 500))
# new_cool.show()
# moose.show() 

overlay = Image.open("C:\\Users\\CarloDieltjens\\OneDrive - Bmatix\\Documenten\\Opleiding\\Data scientist\\Python Scripts\\cool.png")
background = Image.open("C:\\Users\\CarloDieltjens\\OneDrive - Bmatix\\Documenten\\Opleiding\\Data scientist\\Python Scripts\\moose.png")

background = background.resize((500, 500))
overlay = overlay.resize((500, 500))

#def resize_part_of_image(input_path, output_path, box, new_size):

    # Crop the region of interest (box is a tuple (left, upper, right, lower))
roi = overlay.crop((400, 400, 500, 500))
#roi.show()

    # Resize the cropped region
resized_roi = roi.resize(200, 200)
resized_roi.show()

    # Paste the resized region back into the original image
image.paste(resized_roi, box)

    # Save the modified image
    #image.save(output_path)

resized_roi.show()

#resize_part_of_image(overlay)

background = background.convert("RGBA")
overlay = overlay.convert("RGBA")

coolmoose = Image.blend(background, overlay, 0.7)
coolmoose.save("new.png","PNG")
# coolmoose.show()

ValueError: Unknown resampling filter (200). Use Image.Resampling.NEAREST (0), Image.Resampling.LANCZOS (1), Image.Resampling.BILINEAR (2), Image.Resampling.BICUBIC (3), Image.Resampling.BOX (4) or Image.Resampling.HAMMING (5)

In [53]:
overlay = Image.open("C:\\Users\\CarloDieltjens\\OneDrive - Bmatix\\Documenten\\Opleiding\\Data scientist\\Python Scripts\\cool.png")
background = Image.open("C:\\Users\\CarloDieltjens\\OneDrive - Bmatix\\Documenten\\Opleiding\\Data scientist\\Python Scripts\\moose.png")

background = background.resize((500, 500))
overlay = overlay.resize((500, 500))

#def resize_part_of_image(input_path, output_path, box, new_size):

# Crop the region of interest (box is a tuple (left, upper, right, lower))
roi = overlay.crop((100, 100, 300, 300))